<div class="section-about">
  <div class="section-heading col-lg-5 col-md-12">
    <div class="title-section">
      <div class="title">About Me</div>
      <div class="sub-title">{{ constantService.taglineAbout }}</div>
    </div>
  </div>
  <div class="section-body col-lg-7 col-md-12">
    <div class="about-content">{{ constantService.aboutMe }}</div>
    <div class="section-button">
        <button class="btn" (click)="downloadResume()" href="">Download Resume</button>
    </div>
  </div>
</div>
