<!-- <app-navbar></app-navbar> -->
<div class="body-box">
  <div class="home-section">
    <span class="sub-title">Hello I'am</span>
    <h1>Arpit Agarwal</h1>
    <h6 class="typing-container">
      I'm a
      <span class="typing-text">{{ text }}</span>
    </h6>
    <div class="scroll-down">
      <a href="#about" class="mouse-wrapper">
        <span>Scroll Down</span>
        <span class="mouse">
          <span class="wheel"></span>
        </span>
      </a>
    </div>
  </div>
  <div class="about-section" id="about">
    <app-about></app-about>
  </div>
  <div class="experience-section" id="experience">
    <app-experience></app-experience>
  </div>
</div>