/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #87848d;
  border-radius: 8px;
  height: 130px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
